:root {
    --blue: hsl(246, 80%, 60%);
    --light-red-work :hsl(15, 100%, 70%);
    --soft-blue-play : hsl(195, 74%, 62%);
    --light-red-study : hsl(348, 100%, 68%);
    --lime-green-excercise : hsl(145, 58%, 55%);
    --violet-social :  hsl(264, 64%, 52%);
    --soft-orange-self-care : hsl(43, 84%, 65%);
    --neutral-very-dark-blue : hsl(226, 43%, 10%);
    --neutral-dark-blue : hsl(235, 46%, 20%);
    --neutral-desaturated-blue : hsl(235, 45%, 61%);
    --neutral-pale-blue : hsl(236, 100%, 87%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--neutral-very-dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 78%;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;
    justify-content: space-between;
    margin: auto;
}

.main-card {
    background-color: var(--neutral-dark-blue);
    grid-row: 1 / span 2;
    border-radius: 15px;
    overflow: hidden;
}
.content-card {
    padding: 1.9rem;
    background-color: var(--neutral-dark-blue);
    z-index: 2;
    border-radius: 15px;
}

.card .content-card:hover {
    background-color: #34397b;
}

.user {
    background-color: var(--blue);
    border-radius: 15px;
}

.user img {
    width: 36%;
    border: solid 2.7px white;
    border-radius: 50%;
    margin-bottom: 1rem;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

h1 {
    font-weight: 300;
    font-size: 2.6rem;
    /* font-size: 200%; */
    margin-bottom: 3rem;
}

.content-card a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    color: var(--neutral-desaturated-blue);
    display: block;
}

a:nth-child(2) {
    margin: .8rem 0;
}

a:hover {
    color: white;
}

.content-card .active {
    color: white;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.card img {
    position: absolute;
    top: -10px;
    right: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-weight: 400;
}

.horas {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    margin: 1.3rem 0 .7rem;
}

.last {
    font-size: .8rem;
    color: var(--neutral-pale-blue);
}

.card-title img {
    position: unset;
}

.card:nth-child(2) {
    background-color: var(--light-red-work);
}

.card:nth-child(3) {
    background-color: var(--soft-blue-play);
}

.card:nth-child(4) {
    background-color: var(--light-red-study);
}

.card:nth-child(5) {
    background-color: var(--lime-green-excercise);
}

.card:nth-child(6) {
    background-color: var(--violet-social);
}

.card:nth-child(7) {
    background-color: var(--soft-orange-self-care);
}

 @media (max-width: 1000px){
    main {
        min-width: 269px;
        width: 87%;
        max-width: 450px;
        margin: 4rem auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7fr);
        grid-template-rows: auto auto repeat(6, 170px);
    }

    .user {
        display: flex;
        align-items: center;
    }

    .user img {
        width: 26%;
        margin: 0 1rem 0 0;
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
    }

    .en-linea {
        display: flex;
        justify-content: space-between;
    }

    .content-card a {
        display: inline-block;
        font-size: 1.3rem;
    }

    .content-card a:nth-child(2) {
        margin: unset;
    }

    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.8rem;
    }
    .last {
        font-size: .9rem;
    }

    .horas {
        margin: 0;
        font-size: 1.9rem;
    }
} 